html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
	font-family: Verdana,Arial,sans-serif;
  	font-size: 11px;
  	color: black;   
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.bottom_block_adv {
	position: absolute;
	width: 90%;
	bottom: 70px; 
	padding-left: 10%;
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.header {
	width: 100%;
	height: 70px;
	background-color: #9999ff;
}

.background.navigation {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 10%;
	background-color: #999966;
	margin-top: 70px;
	margin-bottom: 70px; 
}

.navigation {
	height: 100%;
	width: 10%;
	padding-bottom: 200px;
}

.advertisement {
	width: 90%;
	height: 130px;
	z-index: -2;
	padding-left: 10%;
	background-color: #9966ff;
}

.footer {
	width: 100%;
	height: 70px;
	background-color: #999999;
}